
Torreta/ai/data/custom/images/air-drone-view-www-airdroneview-com-alange-terma-romana-balneario-agua-extremadura-video-foto-empapate-drones-interior-indoor-vuelo-productora-foto-video-corporativo-badajoz-merida-cacer.jpeg
Torreta/ai/data/custom/images/embraer-erj-135bj-legacy-600-lancha-privada-aterrizando-en-el-aeropuerto-con-drones-volando-sobre-el-perimetro-del-aeropuerto-valla-de-seguridad-drone-drones-espacio-aereo-concepto-2df0r5e.jpeg
Torreta/ai/data/custom/labels/air-drone-view-www-airdroneview-com-alange-terma-romana-balneario-agua-extremadura-video-foto-empapate-drones-interior-indoor-vuelo-productora-foto-video-corporativo-badajoz-merida-cacer.txt
Torreta/ai/data/custom/labels/embraer-erj-135bj-legacy-600-lancha-privada-aterrizando-en-el-aeropuerto-con-drones-volando-sobre-el-perimetro-del-aeropuerto-valla-de-seguridad-drone-drones-espacio-aereo-concepto-2df0r5e.txt
